@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .generateImage {
    height: calc(100vh - 64px);
  }
  .cta-btn {
    background-image: linear-gradient(90deg, #ff4895, #6e4fe9);
  }
  .gradient-border {
    border-image-slice: 1;
    border-radius: 6px;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, #ff4895, #6e4fe9);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .padding-x {
    @apply px-8;
  }
  .flex-Row {
    @apply flex flex-row;
  }
  .flex-Row-center {
    @apply flex flex-row justify-center items-center;
  }
  .flex-Row-between {
    @apply flex flex-row justify-between items-center;
  }
  .flex-Col {
    @apply flex flex-col;
  }
  .text-large {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-extrabold leading-tight md:leading-tight lg:leading-tight xl:leading-tight;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .text-medium {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-extrabold leading-tight md:leading-tight lg:leading-tight xl:leading-tight;
  }
}
